.private-proposals .proposal {
  background: rgb(249, 252, 193);
}

.proposal {
  background: rgb(236, 236, 236);
  width: 100%;
  min-width: 272px;
  display: table;
  vertical-align: top;
  margin: 12px 13px 12px 0;
  box-shadow: 5px 5px 5px -2px #ddd;
  padding: 5px;
}

.article-body-proposals-discussion-plugin_discussion .actions,
.article-body-proposals-discussion-plugin_topic .actions {
  margin: 10px 0 25px 0;
}

.proposal .content, .proposal .score, .proposal .topic {
  display: table-cell;
  border-right: 1px solid;
  border-color: rgb(201, 201, 201);
}
.proposal .topic {
  border-right: 0;
  text-align: center;
  width: 30%;
}
.proposal .score {
  width: 8%;
  text-align: center;
}

.proposal .content:hover, .proposal .topic:hover {
  background: rgba(0, 0, 0, 0.1);
}

.proposal .title {
  font-weight: bold;
  font-size: 15px;
}

#article .proposal a:visited, #article .proposal a {
  color: rgb(94, 94, 94);
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

#article .proposal .title a {
  padding: 8px 0px;
}

.proposal .content {
  width: 60%;
  color: rgb(83, 83, 83);
}

.proposal .abstract {
  padding-top: 8px;
}

form .proposals-discussion-plugin textarea {
  width: 98%;
}

form .proposals-discussion-plugin .abstract textarea {
  height: 60px;
}

form .proposals-discussion-plugin .body textarea {
  height: 400px;
}
