.private-proposals .proposal {
  background: url(/images/hachure.png);
  opacity: 0.5;
  filter: alpha(opacity=25);
  zoom: 1;
}

.proposal {
  background: rgb(236, 236, 236);
  width: 100%;
  min-width: 272px;
  vertical-align: top;
  margin: 12px 13px 12px 0;
  box-shadow: 5px 5px 5px -2px #ddd;
  height: 100px;
}

.article-body-proposals-discussion-plugin_discussion .actions,
.article-body-proposals-discussion-plugin_topic .actions {
  margin: 10px 0 25px 0;
}

.proposal .content, .proposal .score, .proposal .topic {
  display: table-cell;
  border-right: 1px solid;
  border-color: rgb(201, 201, 201);
  padding: 5px;
  vertical-align: middle;
  height: 100%;
}
.proposal .topic {
  border-right: 0;
  text-align: center;
  width: 24%;
}
.proposal .score {
  width: 8%;
  text-align: center;
}

.proposal .content:hover, .proposal .topic:hover {
  background: rgba(0, 0, 0, 0.1);
}

.proposal .title {
  font-weight: bold;
  font-size: 15px;
}

#article .proposal a:visited, #article .proposal a {
  color: rgb(70, 70, 70);
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

#article .proposal .title a {
  padding: 4px 0px;
}

.proposal .content {
  width: 68%;
  color: rgb(83, 83, 83);
  vertical-align: top;
  height: 90px;
}

.proposal .abstract {
  padding-top: 4px;
}

form .proposals-discussion-plugin textarea {
  width: 98%;
}

form .proposals-discussion-plugin .abstract textarea {
  height: 60px;
}

form .proposals-discussion-plugin .body textarea {
  height: 400px;
}

.topic-color {
  width: 9px;
  float: left;
  height: 100%;
}

.topics .topic {
  background-color: rgb(233, 233, 233);
  margin: 5px 0;
  height: 25px;
}

#article .proposal .topic a {
  font-weight: bold;
  color: #888a85;
  width: 100%;
  height: 100%;
}

#article .topics .topic a {
  text-decoration: none;
  display: inline-block;
  width: 95%;
  height: 100%;
  padding-left: 5px;
  font-weight: bold;
  font-size: 14px;
}

.proposals_list .filters {
  float: right;
}
#article .proposals_list .filters a {
  text-decoration: none;
  border-left: 1px solid rgb(185, 185, 185);
  padding: 0 5px;
  color: #555753;
}
.proposals_list .filters a.selected {
  font-weight: bold;
}
