<div class="proposal">
  <div class="content">
    <div class="title">
      <%= link_to proposal_card.name, proposal_card.view_url %>
    </div>
    <div class="abstract">
      <%= link_to strip_tags(proposal_card.abstract), proposal_card.view_url %>
    </div>
  </div>
  <div class="score">
    <%= proposal_card.comments_count %>
  </div>
  <div class="topic">
    <%= link_to proposal_card.topic.title, proposal_card.topic.view_url %>
  </div>
</div>
