<% extend ProposalsDiscussionPlugin::ProposalsListHelper %>

<% private_proposals = user ? holder.proposals.private(user) : [] %>
<% unless private_proposals.empty? %>
<div class="private-proposals">
  <%= render :partial => 'content_viewer/proposal_card', :collection => private_proposals %>
</div>
<% end %>

<% order ||= 'random' %>
<div class="proposals_list">
  <div class="filters">
    <% [[_('Random'), :random], [_('Aplhabetical'), :alphabetical]].each_with_index do |order, i| %>
      <%= link_to order.first, url_for({:controller => 'proposals_discussion_plugin_public', :action => 'load_proposals', :holder_id => holder.id, :profile => profile.identifier, :order => order.second}), :remote => true, :class => "order #{order.second} #{i==0 ? 'selected':''}" %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div class="proposals">
    <div class="more">
      <img src="/images/loading.gif" alt="Loading" /><%= _("Loading...") %>
      <%= more_proposals('', holder, order) %>
    </div>
  </div>
</div>
