<% extend ProposalsDiscussionPlugin::DiscussionHelper %>
<%= javascript_include_tag 'plugins/proposals_discussion/proposals_list.js' %>

<div class="description">
  <%= (discussion.body||'').html_safe %>
</div>

<div class="phases">
  <%= discussion_phases(discussion) %>
</div>

<% if discussion.allow_create?(user) %>
<div class="actions">
  <%= link_to({:controller => :proposals_discussion_plugin_profile, :action => :export, :format => :csv, :article_id => discussion.id}, :class => 'button with-text icon-spread') do %>
    <strong><%= _('Export') %></strong>
  <% end %>
</div>
<% end %>

<%= render :partial => 'content_viewer/statistics', :locals => {:holder => discussion} %>

<div id="article-tags" class="tag_cloud">
  <%= tag_cloud(discussion.proposal_tags, :tag, {:action => :tag, :controller => 'search'}, :max_size => 18, :min_size => 10) %>
</div>

<div class="new-proposal">
  <%= link_to_new_proposal(discussion) %>
</div>

<div class="proposals-discussion-infinite-scroll">
  <%= render :partial => 'content_viewer/proposals_list', :locals => {:holder => discussion} %>
</div>
