<span class="created-at">
  <span class="date"><%= show_date(proposal.published_at) %></span>
  <span class="author"><%= _(", by %s").html_safe % (proposal.author ? link_to(proposal.author_name, proposal.author_url) : proposal.author_name) %></span>
  <span class="comments"><%= _(" - %s").html_safe % link_to_comments(proposal) %></span>
</span>

<div class="discussion">
  <h5><%= proposal.discussion.title %> </h5>
</div>

<% extend ProposalsDiscussionPlugin::TopicHelper %>

<%= topic_title proposal.topic %>

<div class="abstract">
  <div class="content"><%= proposal.abstract.html_safe %></div>
</div>

<div class="body">
  <div class="content"><%= proposal.body.html_safe %></div>
</div>

<% if proposal.created_by == user && !proposal.published %>
<div class="actions">
  <%= link_to url_for({:controller => 'proposals_discussion_plugin_myprofile', :action => 'publish_proposal', :proposal_id => proposal.id}), :class => 'button with-text icon-suggest' do %>
    <strong><%= _("Publish") %></strong>
  <% end %>
</div>
<% end %>
