<% list_view ||= false %>

<% unless list_view %>
  <%= javascript_include_tag 'plugins/proposals_discussion/proposals_list.js' %>
<% end %>

<% extend ProposalsDiscussionPlugin::TopicHelper %>
<%= topic_title topic %>

<div class="topic-content">

<div class="description">
  <%= (topic.body||'').html_safe %>
</div>

<% unless list_view %>
  <h4><%= topic.discussion.title %></h4>

  <%= render :partial => 'content_viewer/statistics', :locals => {:holder => topic} %>

  <div class="tag_cloud">
    <%= tag_cloud(topic.proposal_tags, :tag, {:action => :tag, :controller => 'search'}, :max_size => 18, :min_size => 10) %>
  </div>

  <div class="topic actions">
    <%= link_to url_for({:controller => 'cms', :action => 'new', :type => "ProposalsDiscussionPlugin::Proposal", :parent_id => topic.id, :profile => profile.identifier}), :class => 'button with-text icon-add' do %>
      <strong><%= _("Send your proposal") %></strong>
    <% end %>
  </div>
<% end %>

  <div class="<%= list_view ? '' : "proposals-discussion-infinite-scroll"  %>">
    <%= render :partial => 'content_viewer/proposals_list', :locals => {:holder => topic} %>
  </div>

</div>
