<script>
  jQuery(document).ready(function($){
    $("#topics").accordion();
    $('#topics input[type=radio],label').on('click',function(e){e.stopPropagation();});
    $('#topics h4').click(function(e){
      e.stopPropagation();
      $(this).find('input:radio').prop('checked', true);
    });
  });
</script>

<div class="proposals-discussion-plugin select-topic">
  <h1><%= @discussion.title %></h1>
  <%= form_for :discussion, :url => {:controller => 'proposals_discussion_plugin_myprofile', :action => 'new_proposal_with_topic', :discussion_id => @discussion.id } do %>

    <h3><%= _('Select topic') %></h3>
    <div id="topics">

      <% @discussion.topics.each do |topic| %>
        <h4>
          <%= radio_button_tag('parent_id', topic.id) %>
          <%= topic.title %>
        </h4>
        <div class="content">
          <%= topic.body.html_safe %>
        </div>
      <% end %>

      <div class="clear"></div>
    </div>

    <div class="actions">
      <%= submit_button(:next, _('Next')) %>
      <%= button :cancel, _('Cancel'), @discussion.view_url %>
    </div>
  <% end %>
</div>
